---
// src/pages/thoughts/[...slug].astro
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('thoughts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} - Thoughts`}>
    <div class="container">
      <div class="article">
        <div class="standfirst">
      <h4><a href="/thoughts">THOUGHTS IN PROGRESS</a></h4>
      
      <h1>{post.data.title}</h1>
      <h3>{post.data.description}</h3>
      </div>
      
      <Content />
      
      <!-- Closing GIF -->
      <img src="/images/Logo-Load-Tiny.gif" style="width: 25px; text-align: center; display: block; margin-left: auto; margin-right: auto; margin-top: 2rem" />
   </div> 
  </div>
</BaseLayout>

