<footer>
<div class="nav" aria-label="Footer navigation" style="margin:0 2.5em">
          <a href="/work/">Work</a> 
          <a href="/about/">Studio</a> 
          <a href="https://instagram.com/inprogress_studio" target="_blank">Follow</a>
        </div>

  <div class="inpro">
    <a href="/"><img src="/images/In-Prog.svg"></a>
  </div>
  <div class="gress">
      <a href="/"><img src="/images/gress.svg">
      <div class="loader">
      <img src="/images/IPLogoWhite.gif">
      </div></a>
    </div>


  <div class="container">
        <h3>Make your good work better</h3>
        <div class="columns"></div>
        <div class="columns">
        <div style="flex:50%">Drop us a line:</div>  
        <div style="flex:50%"><a href="mailto:hello@inprogress.studio" target="_blank">hello@inprogress.studio</a></div>  
        </div>  
        <div class="columns">
        <div style="flex:50%">Find us:</div>  
        <div style="flex:50%"><a href="https://maps.app.goo.gl/pNq4CYEKLmsujLaE7" target="_blank">Studio 110, <br>South Block, Osborne St, Glasgow G1 5QH</div>  
        </a>
        </div>  
        <div class="columns">
        <div style="flex:50%">Follow us:</div>  
        <div style="flex:50%"><a href="https://instagram.com/inprogress_studio" target="">@inprogress_studio</a></div>  
        </div>        
        
        <div class="columns">
          <div style="flex:50%">Insights & inspiration in progress:</div>
    
        </div>
        
                        <script
                    async
                    src="https://eocampaign1.com/form/85c964c4-97a4-11ef-a88e-d18bdfaab7fa.js"
                    data-form="85c964c4-97a4-11ef-a88e-d18bdfaab7fa"></script>
      
      <div>
        <a href="https://cleancreatives.org/firms" target="_blank"><img src="/images/Clean-Creatives-Seal.png" style="margin:10px 0 10px 0"></a>
        <a href="https://designdeclares.com/" target="_blank"><img src="/images/DesignDeclares1.png" style="margin:10px"></a>
      </div>
            <p style="font-size: 12px;">© M Andrews Studio Ltd trading as In Progress</p>

  </div>
    </footer>