<footer>
      <div class="container">
        <h3>See <a href="/work">more work,</a> say <a href="mailto:hello@inprogress.studio">hello@inprogress.studio</a>, <br/>and <a href="https://instagram.com/inprogress_studio" target="blank_">follow us</a>.</h3>
        <h4>Insights & inspiration in progress</h4>
                        <script
                    async
                    src="https://eocampaign1.com/form/85c964c4-97a4-11ef-a88e-d18bdfaab7fa.js"
                    data-form="85c964c4-97a4-11ef-a88e-d18bdfaab7fa"></script>
        <p>© M Andrews Studio Ltd trading as In Progress</p>
      </div>
    </footer>