<div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <a href="/afn/">
              <img src="/images/InProgress-Home-AFN.avif" alt="Slide 1" loading="lazy" />
              <span class="image-title">Agency for Nature</span>
            </a>
          </li>
          <li class="glide__slide">
            <a href="/deartomorrow/">
              <img src="/images/InProgress-Home-DearTomorrow.avif" alt="Slide 2" loading="lazy" />
              <span class="image-title">Dear Tomorrow</span>
            </a>
          </li>
          <li class="glide__slide">
            <a href="/gagnd/">
              <img src="/images/InProgress-Home-GAGND.avif" alt="Slide 3" loading="lazy" />
              <span class="image-title">The Global Alliance for a Green New Deal</span>
            </a>
          </li>
          <li class="glide__slide">
            <a href="/pff/">
              <img src="/images/InProgress-Home-PFFUK.avif" alt="Slide 4" loading="lazy" />
              <span class="image-title">Parents for Future UK</span>
            </a>
          </li>
          <li class="glide__slide">
            <a href="/purposedisruptors/">
              <img src="/images/InProgress-Home-PurposeDisruptors2.avif" alt="Slide 5" loading="lazy" />
              <span class="image-title">Purpose Disruptors</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">←</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">→</button>
      </div>
    </div>