---
import WorkGrid from "./WorkGrid.astro";
---

<section id="showcase">
  <WorkGrid columns={3}>
    <div class="work-item" data-label="Our Kids' Climate">
      <a href="../work/ourkidsclimate/" style="border-bottom: none">
        <img
          src="../images/ourkidsclimate/OKC-Posters-Landscape.avif"
          style="object-position: left;"
          alt="Project 4"
        />
      </a>
    </div>
    <div class="work-item" data-label="Dear Tomorrow">
      <a href="../work/deartomorrow/">
        <img
          src="../images/InProgress-Home-DearTomorrow.avif"
          alt="Project 4"
        />
      </a>
    </div>
    <div class="work-item" data-label="Purpose Disruptors">
      <a href="../work/purposedisruptors/">
        <img
          src="../images/InProgress-Home-PurposeDisruptors.avif"
          alt="Project 2"
        />
      </a>
    </div>
  </WorkGrid>
</section>


