---
export interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="work-para">
  {title && <h1>{title}</h1>}
  {subtitle && <h3>{subtitle}</h3>}
  <slot />
</div>