
        
        <section id="showcase">
            <div class="container" style="padding-top: 0px!important;">
                <div class="work-grid">
                <div class="work-item" data-label="Our Kids' Climate">
                    <a href="../work/ourkidsclimate/" style="border-bottom: none">
                        <video autoplay muted loop playsinline>
                            <source src="../images/ourkidsclimate/OKC-Endframe-Landscape.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </a>
                </div>

                <div class="work-item" data-label="Electrify London">
                        <a href="../work/electrifylondon/">
                            <img src="../images/InProgress-Home-Electrify.avif" alt="Project 3" />
                        </a>
                    </div>

                    <div class="work-item" data-label="Dear Tomorrow">
                        <a href="../work/deartomorrow">
                            <img src="../images/InProgress-Home-DearTomorrow.avif" alt="Project 4" />
                        </a>
                    </div>
                <div class="work-item" data-label="Purpose Disruptors">
                        <a href="../work/purposedisruptors/">
                            <img src="../images/InProgress-Home-PurposeDisruptors.avif" alt="Project 2" />
                        </a>
                    </div>

                
                    <div class="work-item" data-label="Carspreading">
                        <a href="../work/carspreading/">
                            <img src="../images/InProgress-Home-Carspreading.avif" alt="Project 2" />
                        </a>
                    </div>

                    <div class="work-item" data-label="Agency for Nature">
                        <a href="../work/agencyfornature/">
                            <img src="../images/InProgress-Home-AFN.avif" alt="Project 1" />
                        </a>
                    </div>
                    

                    <div class="work-item" data-label="Cargo Revolution">
                        <a href="../work/cargorevolution/">
                            <img src="../images/InProgress-Home-Cargo.avif" alt="Project 3" />
                        </a>
                    </div>
                    <div class="work-item" data-label="Parents for Future">
                        <a href="../work/pff/">
                            <img src="../images/InProgress-Home-PFFUK2.avif" alt="Project 3" />
                        </a>
                    </div>

                    <div class="work-item" data-label="Global Alliance">
                        <a href="../work/globalalliance/">
                            <img src="../images/InProgress-Home-GAGND.avif" alt="Project 4" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
