---
// src/pages/our-kids-climate.astro
import WorkLayout from "../../layouts/WorkLayout.astro";
import WorkPara from "../../components/WorkPara.astro";
import WorkItemWide from "../../components/WorkItemWide.astro";
import WorkGrid from "../../components/WorkGrid.astro";
import WorkItem from "../../components/WorkItem.astro";
---

<WorkLayout title="DearTomorrow">
    <WorkPara title="Write today, change tomorrow.">
    <p class="case-intro">
      DearTomorrow helps people engage with the climate crisis on an emotional level, with poetry and
                        heart. Backed by cutting edge behavioural research, DearTomorrow has an outsized influence on
                        the field of communication and climate change.
                    </p>
    <p class="case-intro">
                        Their new identity closely reflects how they’ve grown in confidence as an organisation, creating
                        a whole new look and feel around the tentative potential at its core: Write today, change
                        tomorrow.
    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/deartomorrow/DearTomorrow-11.avif"
  />

  <WorkGrid columns={2}>
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-6.avif"
    />
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-3.avif"
      alt="Project"
    />
  </WorkGrid>

  <WorkPara subtitle="Write the future">
    <p>
     DearTomorrow helps people understand and process their relationship to Climate Change, its
                        causes and its consequences. They've found that the simple act of writing a letter enables
                        people to confront their thoughts and feelings about the future and take lasting action to
                        protect it.
                    </p>
                    <p>
                        An organisation rooted in love, connection and courage, and backed by rigourous behavioural
                        science, DearTomorrow's brand has to exude empathy while empowering participants.
                    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
      src="/images/deartomorrow/DT-Posters.avif"
    alt="DearTomorrow Exhibition Posters"
  />


  <WorkItemWide
    type="image"
    src="/images/deartomorrow/DearTomorrow-NYC-1.avif"
          alt="DearTomorrow NYC Climate Week"
  />

  <WorkItemWide
    type="image"
    src="/images/deartomorrow/DearTomorrow-NYC-2.avif"
          alt="DearTomorrow NYC Climate Week"

  />

   <WorkGrid columns={2}>
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-NYC-3.avif"
      alt="DearTomorrow Exhibition"
    />
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-NYC-4.avif"
      alt="DearTomorrow Exhibition"
    />
   </WorkGrid>


  <WorkPara subtitle="The dawning light">
<p>
                        At the core of the DearTomorrow brand is a palette of gradients derived from photos of sunrise,
                        evoking a time of day — calm, magical, energising — that perfectly fits the atmosphere they
                        create.
                    </p>
                    <p>
                        The main brand font, Louize by 205tf, has just the right amount of literary gravitas and
                        personality. A supporting library of hand-drawn illustrations helps emphasise the human connection
                        and intimacy of the project.
                    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/deartomorrow/DearTomorrow-10.avif"
          alt="Write today, change tomorrow."
  />
  <WorkItemWide
    type="image"
    src="/images/deartomorrow/DearTomorrow-4.avif"
          alt="Imagine the future. Write the future. Transform the future."
  />

  <WorkGrid columns={2}>
    <WorkItem
      type="image"
    src="/images/deartomorrow/DearTomorrow-8.avif"
          alt="Child with DearTomorrow letter that says 'Dear Tomorrow, I will plant more flowers.'"
    />
    <WorkItem
      type="image"
         src="/images/deartomorrow/DearTomorrow-9.avif"
          alt="Will we be heroes or villains?"
    />
  </WorkGrid>

  

  <WorkPara subtitle="Confidence and connection">
    <p>
                        An important aspect of the rebrand was defining how DearTomorrow use words. Establishing a
                        clear, inviting, poetic and sincere tone of voice has meant they can use a consistent tone
                        whether communicating on Instagram, in person or on a funding application.
                    </p>
                    <p>
                        The brand has enabled DearTomorrow to properly convey the power and gravity of their work, and
                        of their participants' contributions. It's also enabled them to communicate more clearly both to
                        the public and to their funders.
                    </p>
                    <p>
                        "We've seen a noticeable uplift across our digital channels, and more meaningful connections
                        with funders and collaborators to our refreshed identity and clearer messaging"<br />— Sandra
                        Freij, Creative Lead, DearTomorrow
                    </p>
  </WorkPara>

  <WorkGrid columns={2}>
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-2.avif"
      alt="DearTomorrow Poster"
    />
    <WorkItem
      type="image"
      src="/images/deartomorrow/DearTomorrow-7.avif"
      alt="DearTomorrow Presentation"
    />
   </WorkGrid>

</WorkLayout>
