---
// src/pages/our-kids-climate.astro
import WorkLayout from "../../layouts/WorkLayout.astro";
import WorkPara from "../../components/WorkPara.astro";
import WorkItemWide from "../../components/WorkItemWide.astro";
import WorkGrid from "../../components/WorkGrid.astro";
import WorkItem from "../../components/WorkItem.astro";
---

<WorkLayout title="Our Kids' Climate">
  <WorkPara title="A global family of changemakers">
    <p class="case-intro">
      Our Kids' Climate is a global family of parent-led groups working to
      protect children from climate breakdown.
    </p>
    <p class="case-intro">
      Their new brand positions Our Kids' Climate as a broad movement that
      welcomes parents, families and communities from across the world, and
      allows them to more effectively champion their member leaders and amplify
      their influence on lawmakers and government institutions.
    </p>
  </WorkPara>

  <WorkItemWide
    type="video"
    src="/images/ourkidsclimate/OKC-Endframe-Landscape.mp4"
  />

  <WorkGrid columns={2}>
    <WorkItem
      type="video"
      src="/images/ourkidsclimate/OKC-Power-of-Parents-Portrait.mp4"
    />
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/OKC-Logo-Photo-1.avif"
      alt="Project"
    />
  </WorkGrid>

  <WorkPara subtitle="Care, Louder">
    <p>
      Through our workshops with the OKC team, we discovered an essential
      tension at the heart of the brand that needs to be communicated.
    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Logo-Sketch.jpg"
    alt="Sketch"
  />

  <WorkPara subtitle="The Logo">
    <p>
      We're particularly proud of this one. A logo that illustrates what's at
      the heart of the organisation: our kids.
    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Logo-reverse.avif"
    alt="Reverse"
  />

  <WorkItemWide
    type="video"
    src="/images/ourkidsclimate/OKC-Logo-Placement-Landscape.mp4"
  />

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Tshirt-green_1.avif"
    alt="Merch"
  />

  <WorkPara subtitle="The Power of Parents">
    <p>
      When it comes to a tagline, it pays to be direct. A simple statement of
      what we stand for — what we believe in, what we are protecting, what we
      exist to amplify — the Power of Parents.
    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Posters-Landscape.avif"
    alt="Posters"
  />

  <WorkGrid columns={2}>
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/OKC-Tote-1-square.avif"
      alt="Tote 1"
    />
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/OKC-Tote-2-square.avif"
      alt="Tote 2"
    />
  </WorkGrid>

  <WorkGrid columns={4}>
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/9-OKC-Community-2.avif"
      alt="Community"
    />
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/10-OKC-Fellowships-2.avif"
      alt="Fellowships"
    />
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/11-OKC-Microgrants-2.avif"
      alt="Microgrants"
    />
    <WorkItem
      type="image"
      src="/images/ourkidsclimate/12-OKC-Campaigns-2.avif"
      alt="Campaigns"
    />
  </WorkGrid>

  <WorkPara subtitle="A vibrant toolkit">
    <p>
      One of the most important aspects of a brand is that people need to be
      able to use it! The Our Kids' Climate brand is a kit of parts that come
      together to form a vibrant, impactful whole.
    </p>
    <p>
      The toolkit includes a bright, distinctive colour palette, a bold, clear
      and characterful brand font (Muoto by 205tf), and a range of textures and
      patterns that can be used to dial the volume of communications up and
      down.
    </p>
    <p>
      As always, we brought all these elements together, along with plenty of
      guidance and inspiration, into an online brand guideline document and a
      range of editable templates for things like presentations and social
      posts. The result is a brand that can speak loudly and clearly, with joy
      and with urgency, and help realise the potential of parents and families
      and their capacity to change the world.
    </p>
  </WorkPara>

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Patterns.webp"
    alt="Patterns"
  />

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Pitch-Deck.avif"
    alt="Pitch Deck"
  />

  <WorkItemWide
    type="image"
    src="/images/ourkidsclimate/OKC-Guidelines.avif"
    alt="Guidelines"
  />
</WorkLayout>
